/*

font-family: 'Noto Sans Display', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'PT Sans', sans-serif;

*/
/*Clear css*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----------------------------------------*/
.wrapper {
    max-width: 1710px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/*
Header classes
*/
.header {
    padding: 39px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__link {
}
.logo__img {
    width: 174px;
    height: 45px;
}
.navigation {
}
.navigation__list {
    display: flex;
}
.navigation__item {
}
.navigation__item:not(:last-child){
    margin:0 70px 0 0;
}
.navigation__link {
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #2C2C2C;
    transition: all .2s ease-in;
}
.navigation__link:hover {
    color:#CEFEFE;
}
.header__right {
    display: flex;
    align-items: center;
}
.header__login {
    margin:0 35px 0 0;
}
.login {
    display: inline-block;
    padding: 0 25px 0 0;
    border-right: 1px solid #F1E0DD;
    transition: all .2s ease-in;
}
.login:hover {
    color:#CEFEFE;
}
.login__img {
    margin:0 13px 0 0;
    width: 18.64px;
    height: 20px;
}
.search {
}
.search__img {
    width: 20px;
    height: 20px;
}

/*--------------------------------------------*/

/*Main classes*/
.main {
    flex: 1 1 auto;
}
/*--------------------------------------------*/

/* Footer classes */
.footer {
}
.footer__top {
    width: 1410px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__about {
    flex: 0 0 450px;
}
.footer__logo {
    width: 231px;
    height: 60.74px;
    margin: 0 0 26.26px 0;
}
.footer__subtitle {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #A79997;
    margin: 0 0 30px 0;
}
.footer__list {
}
.footer__item:not(:last-child) {
    margin: 0 0 15px 0;
}

.footer__link {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #A79997;
}
.footer__img {
    margin: 0 15px 0 0;
}
.phone {
    width: 22.88px;
    height: 22.93px;
}
.mail {
    width: 22px;
    height: 18px;
}
.location {
    width: 20px;
    height: 24px;
}
.footer__links {
    padding: 20px 0 0 0;
}
.links {
}
.links__title {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 26px;
    color: #000000;
    margin: 0 0 30px 0;
}
.links__list {
}
.links__item:not(:last-child) {
    margin:0 0 20px 0;
}
.links__link {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #A79997;
}
.footer__form {
}
.footer__input {
    width: 400px;
    height: 60px;
    background: #F8F8F8;
    border: 1px solid #F5EBE9;
    font-size: 24px;
    color: #A79997;
    margin: 0 0 15px 0;
}
.footer__btn {
    width: 200px;
    height: 64px;
    background: #FF715B;
    padding: 20px 31px;

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color:#FFFFFF;
}
.footer__bottom {
    margin: 90px 0 0 0;
    border-top:1px solid #F5EBE9;
    text-align: center;
    padding: 32px 0 0 0;
}
.footer__copyright {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #A79997;
    /* text-align: center; */
}
.footer__copyright_red {
    color:#FF715B;
}
