/*

font-family: 'Noto Sans Display', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'PT Sans', sans-serif;

*/
/*Clear css*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----------------------------------------*/
.wrapper {
    max-width: 1710px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/*
Header classes
*/
.header {
    padding: 39px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__link {
}
.logo__img {
    width: 174px;
    height: 45px;
}
.navigation {
}
.navigation__list {
    display: flex;
}
.navigation__item {
}
.navigation__item:not(:last-child){
    margin:0 70px 0 0;
}
.navigation__link {
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #2C2C2C;
    transition: all .2s ease-in;
}
.navigation__link:hover {
    color: #FF715B;
}
.header__right {
    display: flex;
    align-items: center;
}
.header__login {
    margin:0 35px 0 0;
}
.login {
    display: inline-block;
    padding: 0 25px 0 0;
    border-right: 1px solid #F1E0DD;
    transition: all .2s ease-in;
}
.login:hover {
    color: #FF715B;
}
.login__img {
    margin:0 13px 0 0;
    width: 18.64px;
    height: 20px;
}
.search {
}
.search__img {
    width: 20px;
    height: 20px;
}

/*--------------------------------------------*/

/*Main classes*/
.main {
    flex: 1 1 auto;
    padding:30px 0 0 0;
}
.slider {
}
.slider__container {
    position:relative;
}
.slider__img {
    width: 1650px;
    height: 1000px;
}
.slider__description {
    max-width: 804px;
    width: 100%;
    position:absolute;
    top:285px;
    left: 135px;
}
.content {
}
.content__title {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 112px;
    color: #2C2C2C;
    margin: 0 0 50px 0;
}
.content__btn {
    display: inline-block;
    width: 200px;
    height: 60px;
}
.slider__bottom{
    position: relative;
}
.slider__left {
    width: 435px;
    padding: 30px 0 0 0;
    display: flex;
    align-items: center;
}
.slider__arrow {
    display: inline-block;
    width: 47px;
    height: 47px;
    background-color: #FF715B;
    padding: 16px 19px;
    margin: 0 15px 0 0;
    transition: background .2s ease-out;
    flex:0 0 47px;
}
.slider__arrow:hover {
    border: 2px solid #F5EBE9;
    background-color: #FFFFFF;
    color: #FF715B;
    padding:14px 17px;
}
.slider__arrow_left::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top:3px solid #FFFFFF;
    border-left:3px solid #FFFFFF;
    transform: rotate(-45deg);
}
.slider__arrow_left:hover::after {
    border-top:3px solid #FF715B;
    border-left:3px solid #FF715B;
}
.slider__arrow_right::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-bottom:3px solid #FFFFFF;
    border-right:3px solid #FFFFFF;
    transform: rotate(-45deg);
}
.slider__arrow_right:hover::after {
    border-bottom:3px solid #FF715B;
    border-right:3px solid #FF715B;
}
.slider__arrow_right {
    padding:16px 19px 16px 16px;
    margin: 0;
}
.slider__arrow_right:hover {
    padding:14px 14px;
}

.slider__number {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #FF715B;
    flex:0 0 328px;
    text-align: right;
}
.slider__number::before {
    content: "";
    display: inline-block;
    width: 234px;
    height: 2px;
    background: #F5EBE9;
    margin-bottom: 8px;
    margin-right: 30px;
    margin-left: 30px;
}
.slider__right{
    padding: 45px;
    width: 1185px;

    position: absolute;
    right: 0;
    bottom:0;

    background: #FFFFFF;
    box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);

   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider__desc {
    max-width: 240px;
    width: 100%;
    border-bottom: 1px solid #F5EBE9;
    border-radius: 0.5px;
    position: relative;
}
.slider__desc-title {
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A79997;
}
.slider__desc-text {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px; 
    color: #FF715B;
    margin:10px 0 11px 0;
}
.slider__desc-img {
    position: absolute;
    right: 0;
    top:38px;
    cursor: pointer;
}

.slider__btn {
    Width:195px;
    Height:64px;
}


.cards {
    margin: 180px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cards__item {
    padding: 30px 40px 60px 40px;
    background: #F8F8F8;
    width: 326px;
    height: 326px;
    text-align: center;
}
.cards__item_active {
    filter: drop-shadow(0px 12px 30px rgba(200, 180, 180, 0.2));
    background: #FFFFFF;
}
.cards__img {
    margin: 0 0 10px 0;
}
.card__title {
    font-family: 'Noto Serif',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #2C2C2C;
    margin: 0 0 15px 0;
}
.cards__text {
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #A79997;
}








/*--------------------------------------------*/

/* Footer classes */
.footer {
    padding: 180px 0 0 0;
}
.footer__top {
    width: 1410px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__about {
    flex: 0 0 450px;
}
.footer__logo {
    width: 231px;
    height: 60.74px;
    margin: 0 0 26.26px 0;
}
.footer__subtitle {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #A79997;
    margin: 0 0 30px 0;
}
.footer__list {
}
.footer__item:not(:last-child) {
    margin: 0 0 15px 0;
}

.footer__link {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #A79997;
    transition: all .2s ease-in;
}
.footer__link:hover {
    color:#FF715B;
}
.footer__img {
    margin: 0 15px 0 0;
}
.phone {
    width: 22.88px;
    height: 22.93px;
}
.mail {
    width: 22px;
    height: 18px;
}
.location {
    width: 20px;
    height: 24px;
}
.footer__links {
    padding: 20px 0 0 0;
}
.links {
}
.links__title {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 26px;
    color: #000000;
    margin: 0 0 30px 0;
}
.links__list {
}
.links__item:not(:last-child) {
    margin:0 0 20px 0;
}
.links__link {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #A79997;
    transition: all .2s ease-in;
}
.links__link:hover {
    color:#FF715B;
}
.footer__form {
}
.footer__input {
    width: 400px;
    height: 60px;
    background: #F8F8F8;
    border: 1px solid #F5EBE9;
    font-size: 24px;
    color: #A79997;
    margin: 0 0 15px 0;
}
.footer__btn {
    width: 200px;
    height: 64px;  
}
.button {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color:#FFFFFF;

    background: #FF715B;
    padding: 20px 31px;
    transition: all .2s ease-in;
}
.button:hover {
    background-color: #F5EBE9;
    color: #FF715B;
}
.footer__bottom {
    margin: 90px 0 0 0;
    border-top:1px solid #F5EBE9;
    text-align: center;
    padding: 32px 0 28px 0;
}
.footer__copyright {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #A79997;
}
.footer__copyright_red {
    color:#FF715B;
}
